.shop-page {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;

  .shop-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;
  }

  .ChkOutbtn {
    margin-left: auto;
    margin-top: 20px;
  }

  .quantity {
    justify-content: center;
  }
  .price{
    text-align: right;
  }

  .btn-container {
    text-align: center;
  }
}
